{% extends 'base.html.twig' %}
{% block title %}Modifier Catégorie{% endblock %} {% block body %}

  {{ form_start(form) }}
  {{ form_widget(form) }}
  <button type="submit" class="btn btn-success">Sauvegarder</button>
  {{ form_end(form) }}
  <a href="/article" class="btn btn-secondary mt-1">Retour</a>

{% endblock %}