{% extends 'base.html.twig' %}

{% block title %}Liste des Catégories{% endblock %}

{% block body %}
  <h1>Catégories</h1>
  {% if categories %}
    <table id="categories" class="table table-striped">
      <thead>
      <tr>
        <th>Catégorie</th>
        {% if is_granted('ROLE_EDITOR') %}
          <th>Actions</th>
        {% endif %}
      </tr>
      </thead>
      <tbody>
      {% for categorie in categories %}
        <tr>
          <td>{{ categorie.title }}</td>
          <td>
            {% if is_granted('ROLE_EDITOR') %}
              <a href="/category/edit/{{ categorie.id }}" class="btn btn-warning">Modifier</a>
              <form method="post" action="{{ path('category_delete', {id: categorie.id}) }}"
                    style="display: inline-block"
                    onsubmit="return confirm('Etes-vous sûr de supprimer {{ categorie.title }} ?')">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-danger">Supprimer</button>
              </form>
            {% endif %}
          </td>
        </tr> {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>Aucune catégorie</p>
  {% endif %}
{% endblock %}