{% extends 'base.html.twig' %}
{% block title %}ON/OFF{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header d-flex align-items-center ">
            <i class="fa fa-toggle-on warning font-large-2 float-left"></i>
            <h3 class="mb-0 ml-1">ON/OFF</h3>
        </div>
        <div class="card-body">
            <link rel="stylesheet" href="{{ asset('css/on-off.css') }}">
            <div class="grey-bg container-fluid">
                <section id="minimal-statistics">
                    <div class="row">
                    </div>
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 col-12">
                            <h4 class="text-off" style="margin-left: 504px;position: absolute;margin-top: 39px;">
                                OFF</h4>
                            <div class="col-sm-5">
                                <input class="switch-input" type="checkbox" id="switch" />
                                <label class="switch-label" for="switch" style="margin-left: 550px;">Toggle</label>
                            </div>
                            <h4 class="text-on " style="margin-left: 684px;position: absolute;margin-top: -43px;">ON</h4>
                        </div>
                    </div>
                    <div class="dropdown" style="margin-left: 496px;">
                        <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Selectionner une Plantxa
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">1</button>
                            <button class="dropdown-item" type="button">2</button>
                            <button class="dropdown-item" type="button">3</button>
                        </div>
                    </div>
                </section>
                <a class="btn btn-warning btn-md px-3"
                   href="{{ path("account_index") }}">Retour</a>

            </div>
        </div>
    </div>

{% endblock %}
