{% extends 'base.html.twig' %}

{% block title %}Ajouter produit{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}
{% block body %}
    <h1>Ajouter produit</h1>

    {{ include('cooking_time/_form.html.twig') }}

    <a class="btn btn-primary btn-md" href="{{ path('cooking_time_index') }}" style="margin-top: -74px;margin-left: 6rem;">Retour à la liste</a>
{% endblock %}
